@CHARSET "UTF-8";

/*用户中心登录页end*/
/*用户中心首页begin*/
/*顶部信息begin*/
.user{margin:0 10px;overflow: hidden;}
.order h2{margin-top:10px;margin-bottom:3px;}
strong{font-weight:normal;color:#e70e00;}
.more{display:block;border:8px solid transparent;border-left-color:#b8b8b8;}
.inner{display:block;border:7px solid transparent;border-left-color:#fff;}
.user .info{padding-top:20px;font:14px/1.5;position: relative;top: 0;left: 0;}
.info li{float:left;display:inline;width:200px;height:30px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.info li strong{color:#f60900;font-weight:normal;}
.info .rank-logo{width: 72px;height: 72px;display: block;position: absolute;top: 35px;left: 200px;background: url(../images/rank-icon.png) no-repeat -228px 0;}
.info .go-home{position: absolute;top: 125px;left: 200px;}
.info .ad-area{width: 100px;height: 100px;display: block;position: absolute;top: 35px;left: 200px;overflow: hidden;}
.info .ad-area img{width: 100px;height: 100px;}
/*顶部信息end*/
/*订单管理begin*/
.order{margin-bottom:18px;}
.order.management{padding-top: 10px;border-top: 1px solid #c9c9c9;}
.order ul{border:1px solid #c8c8c8;border-radius:5px;background-color:#fff;list-style-type:none}
.order li{height:39px;line-height:39px;position:relative;top:0;left:0;}
.order li a{display:block;margin:0 20px;border-top:1px dotted #9d9d9d;}
.order li a.first{border-top:none;}
.order li a.link{border-top:none;}
.order li .more{position:absolute;top:11px;right:4%;}
.order li .inner{position:absolute;top:-7px;right:-5px;}
.order .pending{margin-bottom:10px;}
.order .pending li a{border-top:none;}
.order span{font-size:14px;font-weight:bold;}
/*订单管理end*/
/*账户管理样式same as订单管理*/
/*用户中心首页end*/

/*以下为屏蔽user.css对页脚的样式影响*/
.foot .bottom .inner{border: none;}